{ip_addr,"80.216.3.159"}.
{port,60000}.
{service_id,"kubelete"}.
{vsn,"1.0.0"}.
{zone,["stockholm.flat.room_joq"]}.
{capabilities,[]}.
{max_workers,20}.
{init_load_apps,["lib","kubelet","dns","controller"]}.
{dns,"80.216.3.159",60000}.
{node_type,worker_node}.
{git_url,"https://joq62:festum01@github.com/joq62/"}.
{keep_dirs,["loader"]}.	
